{% extends 'base.html' %}

{% block app_content %}
<h1>Page not found</h1>
<div class="row">
    <div class="col-md-12">
        <img width="720" height="360" src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" alt="">    
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-md-2" style="padding: 20px;">
        <a class="btn btn-info" href="/index">Goto mail page</a>
    </div>
</div>

{% endblock %}