{% extends 'base.html' %}

{% block app_content %}
<h1>Internal error</h1>
<div class="row">
    <div class="col-md-12">
        <img width="720" height="360" src="https://www.lifewire.com/thmb/fVfgbCTrlRTL1_N0bDnp20r2NAY=/1920x1080/filters:no_upscale():max_bytes(150000):strip_icc()/01-video-scheduler-internal-error-5c15e4280a2d4b95b7c933941b9c5d4e.jpg">    
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-md-2" style="padding: 20px;">
        <a class="btn btn-info" href="/index">Goto mail page</a>
    </div>
</div>

{% endblock %}