{% extends 'base.html' %}

{% block app_content %}

{% for post in posts %}
<div class="row" style="padding: 10px;">
    <div class="row">
        <div class="col-md-2">
            <img src="{{ post.author.avatar(36) }}">
            <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a>
        </div>
        <div class="col-md-10">
            <b>{{ post.title }}</b>
            <p>{{ post.body }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}